<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS for adding space between product rows */
        .card {
            margin-bottom: 20px; /* Adjust this value as needed */
        }
    </style>
</head>
<body>
    <!-- Logout button at the top right corner -->
    <div class="d-flex justify-content-end mb-3">
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>

    <div class="container mt-5">
        <h2 class="mb-4">Catalog</h2>
        <div class="row">
            <% products.forEach(product => { %>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.Name %></h5>
                            <p class="card-text"><%= product.Description %></p>
                            <p class="card-text">Price: <%= product.Price %></p>
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity_<%= product.ProductID %>" name="quantity" min="1" value="1">
                            <button onclick="generateQuotation('<%= product.Name %>', <%= product.Price %>, <%= product.ProductID %>)" class="btn btn-primary">Generate Quotation</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        
        <!-- Pagination buttons -->
        <div class="mt-4">
            <% if (currentPage > 1) { %>
                <a href="/catalog?page=<%= currentPage - 1 %>" class="btn btn-secondary mr-2">&laquo; Previous</a>
            <% } %>
            <% if (currentPage < totalPages) { %>
                <a href="/catalog?page=<%= currentPage + 1 %>" class="btn btn-secondary">Next &raquo;</a>
            <% } %>
        </div>
    </div>

    <script>
        function generateQuotation(name, price, id) {
            const quantity = document.getElementById('quantity_' + id).value;
            const total = price * quantity;
            const quotationText = `Product Name: ${name}\nPrice per unit: ${price}\nQuantity: ${quantity}\nTotal: ${total}`;
            downloadQuotation(quotationText, `${name}_quotation.txt`);
        }

        function downloadQuotation(quotationText, filename) {
            const element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(quotationText));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }
    </script>
</body>
</html>
